section.container {
  background-color: #829ca3;
  height: 15rem;
  width: 25rem;
  border-radius: 10px;
  margin: 7.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

h3.favoritos {
  color: #335c67;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  margin: 1rem 0;
}
